.custom-time-input {
    background-color: transparent;
    border: 1px solid #7A7978; 
    border-radius: 8px; 
    padding: 16px; 
    font-size: 16px;  
    text-align: center;
    justify-content: space-between;
    color: #555555;
    width: 200px;
    height: 58px;
  }
