.settings {
	.navi_wrapper {
		@apply lg:w-[27%] xx:w-full overflow-x-scroll mt-5;
	}
	.navi {
		@apply xx:flex lg:block gap-4 xx:w-[850px] lg:w-full;
		scroll-snap-type: x mandatory;
		li {
			@apply mb-7 text-[#7A7978] font-normal cursor-pointer;
			transition: font-weight 0.1s linear;
			scroll-snap-align: center;
			scroll-snap-align: start;
			scroll-snap-stop: normal;
			&:hover,
			&.active {
				@apply font-medium text-black xx:underline md:no-underline;
			}
		}
	}
	.h2 {
		@apply text-xl mb-7 subpixel-antialiased;
	}

	/* .btn.toggle_edit {
		@apply w-auto p-0 h-auto text-black bg-transparent;
	} */
	.radio.stngs {
		@apply mr-2;
		&:checked + .title {
			@apply text-[#F45D2C];
		}
	}
}

.delete-prompt {
	.reason {
		@apply flex justify-between items-center border-b border-b-divider-gray py-4;
		&:last-child {
			@apply border-b-transparent;
		}
	}
	.btn.delete {
		@apply bg-[#b3434d] w-[352px] mt-7 my-10;
	}
}

.agree > .checkbox_mirror {
	@apply rounded-none;
}

.bank_acct {
	div {
		@apply bg-transparent;
	}
	.my-5 {
		@apply mt-0;
	}
}
.manage_acct {
	hr:not(.divider),
	.input.non_edit {
		display: none;
	}
	.multiple_box_div .btn.req_all_change {
		@apply mb-5;
	}
	.input__container {
		@apply mb-1;
	}
	.edit_ {
		&:nth-of-type(1) .input {
			@apply mt-2;
		}
		.input {
			@apply mt-0;
		}
	}
}
